<div class='settings_news_block'>
  <h2><span class="page_label"><%= t('jurnalo.register.success') -%></span></h2>
  <div class = "about"><%= @msg %> <%= t('user.account.activate_instruction') %></div>
</div>