<div class="footer_module" class="grid_6"></div>
<%= link_to t( 'navigation.bottom.about' ), jurnalo_about_path %> -
<%= link_to t( 'navigation.bottom.privacy' ), jurnalo_privacy_path %> -
<%= link_to t( 'navigation.bottom.imprint'), jurnalo_imprint_path %> -
<%= link_to t( 'jurnalo.contact.label'), contact_account_path %>
<br>
<span class= "grey">&copy; 2010</span>