<div id = "topic_label">
  <span><%= f.text_field(:search_any) %></span>
  <span><%= submit_tag( t('topic.action.add') ) %></span>
</div>
<%= link_to_function( t('topic.action.advance'), "advance_topic( 'simple_topic_form' )" ) %> |
<%= link_to_function( t('topic.action.test'), "test_topic( 'simple_topic_form' )"  ) %>